html{
    background-color: rgb(22, 21, 16);
}
body{
    background-color: rgb(81, 221, 240);
    font-family: 'Times new Roman', Times, Serif;
    margin:0 auto;
    width: 100%;
    max-width: 1200px;
    min-width: 500px;
}
h1{
    font-style: italic;
    margin-left: 400px;
}
input{
    margin: 4px 2px;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 2px solid rgb(20, 1, 1);
    border-radius: 10px;
}

textarea{
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

select{
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
input[type=submit]{
    background-color: green;
}
input[type=reset]{
    background-color: red;
}